<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="#" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="./assets/favicon.ico" rel="icon">

  <title>Title page</title>  

  <link href="./static/css/Aboume.css" rel="stylesheet">
  <link href="./static/css/main.css" rel="stylesheet">
</head>

<body class="about">

 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>
      </div>
  </nav>
</header>

<main class="section-container">

	<h1 class="h2">03 : About me</h1>


  <h3>Consectetur adipiscing elit</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus at sem quis varius.
      <br>
       Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras ultrices hendrerit nisl.
    </p>
    <hr>
  <h3>Ut enim ad minim </h3>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
       cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
       <br>
       proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <hr>
   <h3>Maecenas luctus at sem quis varius</h3>
    <p>
       Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
       <br> 
       Phasellus iaculis magna sagittis elit sagittis, at hendrerit lorem venenatis. Morbi accumsan iaculis blandit. Cras ultrices hendrerit nisl.
    </p>

</main>

<footer class="footer-container text-center">

  <p>© UNTITLED</p>

</footer>

      
</body>
</html>